<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" th:content="${_csrf.token}">
  <title>Startowa Strona DianaArt</title>
  <script defer src="/scripts/login.js" th:src="@{/scripts/login.js}"></script>
  <script defer src="/scripts/product.js" th:src="@{/scripts/product.js}"></script>
  <script defer src="/scripts/main.js" th:src="@{/scripts/main.js}"></script>
  <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">

</head>
<body>

<header>
  <div class="logo">
    <a href="#" th:href="@{/}">DianaArt</a>
  </div>
  <div class="search-bar">
    <form action="#" method="get" id="searchForm">
      <input type="text" placeholder="Kawał dobrej sztuki" name="search" id="searchInput">
    </form>
  </div>
  <button class="burger-menu" aria-label="Otwórz menu">&#9776;</button>
  <div class="user-actions">
    <a href="#" th:href="@{/login}" sec:authorize="isAnonymous()">Zaloguj się</a>
    <a href="#" th:href="@{/registration}" sec:authorize="isAnonymous()">Rejestracja</a>
    <a href="#" th:href="@{/shoppingCart}" sec:authorize="isAuthenticated()">Koszyk(<span id="cart-count" th:text="${cartCount}">0</span>)</a>
    <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()">Wyloguj się</a>
  </div>
</header>
<div class="nav-container">
  <nav class="nav-menu">
    <button class="menu-toggle" aria-label="Otwórz menu">&#9776;</button>
    <div class="nav-menu-content">
      <a href="#" th:href="@{/category?category=modern}">Modern</a>
      <a href="#" th:href="@{/category?category=comfy}">Comfy</a>
      <a href="#" th:href="@{/category?category=nature}">Przyroda</a>
      <a href="#" th:href="@{/category?category=science}">Nauka</a>
      <a href="#" th:href="@{/category?category=life}">Życie</a>
      <a href="#" th:href="@{/category?category=automotive}">Motoryzacja</a>

      <div class="filter-toggle">
        <button id="filterButton">Filtruj</button>
        <div class="filter-content">
          <form id="filterForm">
            <div class="filter-group">
              <!-- Sortowanie -->
              <div class="dropdown">
                <div class="dropdown-content">
                  <button type="button" id="sortAsc">Sortuj rosnąco</button>
                  <button type="button" id="sortDesc">Sortuj malejąco</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nav>
</div>

<main class="main-content">
  <div class="content">
    <div class="banner">
      <a href="#" th:href="@{/}">
        <img src="../static/img/4.png" alt="Banner DianaArt" th:src="@{/img/4.png}">
      </a>
    </div>

    <section class="featured-products" id="productList">
      <div id="noResultsMessage" style="display: none;">Nie znaleziono produktów</div>
      <div class="product" th:each="product : ${products}">
        <a th:href="@{/product/{id}(id=${product.id})}">
          <img src="https://via.placeholder.com/150" alt="Produkt" th:src="@{/img/{id}.png(id=${product.id})}">
          <h3 th:text="${product.name}">Produkt</h3>
          <p class="product-price">
            <span th:text="${product.price}">0.00</span> <span class="currency">zł</span>
          </p>
        </a>
      </div>
    </section>
  </div>
</main>

<footer>
  <p>&copy; 2024 DianaArt. Wszelkie prawa zastrzeżone.</p>
</footer>

</body>
</html>
