<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Produkt - DianaArt</title>

  <script defer src="/scripts/product.js" th:src="@{/scripts/product.js}"></script>
  <script defer src="/scripts/main.js" th:src="@{/scripts/main.js}"></script>
  <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
  <link rel="stylesheet" href="../styles/product.css" th:href="@{/styles/product.css}">
  <meta name="csrf-token" th:content="${_csrf.token}">
</head>
<body>
<div class="page-wrapper">
  <!-- Add this div for the message -->


  <header>
    <div class="logo">
      <a href="#" th:href="@{/}">DianaArt</a>
    </div>
    <button class="burger-menu" aria-label="Otwórz menu">&#9776;</button>
    <div class="user-actions">
      <a href="#" th:href="@{/login}" sec:authorize="isAnonymous()">Zaloguj się</a>
      <a href="#" th:href="@{/registration}" sec:authorize="isAnonymous()">Rejestracja</a>
      <a href="#" th:href="@{/shoppingCart}" sec:authorize="isAuthenticated()">Koszyk(<span id="cart-count" th:text="${cartCount}">0</span>)</a>
      <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()">Wyloguj się</a>
    </div>
  </header>

  <div class="nav-container">
  <nav class="nav-menu">
    <button class="menu-toggle" aria-label="Otwórz menu">&#9776;</button>
    <div class="nav-menu-content">
      <a href="#" th:href="@{/category?category=modern}">Modern</a>
      <a href="#" th:href="@{/category?category=comfy}">Comfy</a>
      <a href="#" th:href="@{/category?category=nature}">Przyroda</a>
      <a href="#" th:href="@{/category?category=science}">Nauka</a>
      <a href="#" th:href="@{/category?category=life}">Życie</a>
      <a href="#" th:href="@{/category?category=automotive}">Motoryzacja</a>
    </div>
  </nav>
</div>


  <div id="message-container" class="message-container" style="display:none;"></div>
  <main class="product-page">
    <div class="product-info">
      <div class="product-image">
        <img src="https://via.placeholder.com/150" alt="Produkt" th:src="@{/img/{id}.png(id=${product.id})}">
      </div>

      <div class="product-description">
        <h1 th:text="${product.name}">Nazwa Produktu</h1>
        <p class="product-price" th:text="${product.price} + ' zł'" data-unit-price="${product.price}">
          Cena: ${product.price} zł
        </p>
        <p th:text="${product.details}">
          Opis produktu. To jest przykładowy opis produktu, który można dostosować do rzeczywistych informacji o produkcie.
        </p>

        <div class="quantity-selector">
          <form action="#" th:action="@{/shoppingCart/Product}" method="post" class="add-to-cart-form">
            <input type="hidden" name="productId" th:value="${product.id}">
            <input type="number" id="quantity" name="quantity" value="1" min="1">
            <input type="hidden" name="orderDate" th:value="${T(java.time.LocalDateTime)}"/>
            <button type="submit">Dodaj do zamówienia</button>
          </form>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <p>&copy; 2024 DianaArt. Wszelkie prawa zastrzeżone.</p>
  </footer>
</div>
</body>
</html>
